/* Header Styling */

.header {
	justify-content: space-between;
	padding: 1.25rem 1.25rem;
	width: 100%;
} /* also for footer contents */

.header h1 {
    font-size: 1rem;
    margin: 10px 0px;
  }

.header h1:hover {
	cursor: pointer;
}

.goBack {
	margin-right: 10px;
}

.menuItem {
	padding: 0 20px;
}

.menuItem:hover {
	text-decoration: underline;
	cursor: pointer;
}


@media screen and (max-width: 600px) {
	.header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1rem;
	}
}
