.clickWrapper h1 {
    width: 15rem;
    font-size: 1.1em;
}

.storySection h1 {
    margin: 1.11rem;
}

.clickWrapper .image {
    border-radius: 0.444rem 0.444rem 0 0;
}

.cardContainer {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    flex: 100%;
    margin: 1.1rem;
}

.clickWrapper  {
    border-radius: 0.444rem;
}

.clickWrapper:hover {
    cursor: pointer;
    background-color: var(--hover);
    box-shadow: 0px 4px 8px 0px #2e4d58e7;
}

@media screen and (max-width: 600px) {
    .cardContainer {
        justify-content: center;
    }
}