

.section {
	flex: 1;
	height: 100vh;
	max-height: 800px;
	align-self: stretch;
	padding: 50px 20px 50px 20px;
}

.cardContainer {
	max-width: 700px;
}

/* Footer Styling */

.footer {
	height: auto;
	align-self: stretch;
	color: var(--light);
	background-color: var(--primary-color);
	padding: 0;
}
