.section {
  flex: 1;
  height: 100vh;
  align-self: stretch;
  padding: 50px 20px 50px 20px;
}

.cardContainer {
  max-width: 1100px;
}

.tutorial ol {
  margin: 0;
  padding: 0;
}

.tutorial li {
  list-style: none;;
}

.tutGif {
  max-width: 40rem;
}

/* Footer Styling */

.footer {
  height: auto;
  align-self: stretch;
  color: var(--light);
  background-color: var(--primary-color);
  padding: 0;
}
